<div class="container">
    <div class="page-header">
        <h1>New York Times Saved Articles</h1>
        <div class="articles">
       
            {{#each article}}
             <a target="_blank" href="https://www.nytimes.com{{this.link}}"><h3>{{this.headline}}</h3></a>
            <p>{{this.summary}}</p>
            <a href="/articles/comments/{{this._id}}"><button class="button">Comments</button></a>
                
            {{/each}}
        </div>
    </div>

</div>